body{margin:0;font-family:Arial;background:#f3f3f3;color:black;}
.container{max-width:600px;margin:auto;background:white;padding:25px;border-radius:15px;margin-top:30px;box-shadow:0 0 15px rgba(0,0,0,0.15);}
.logo-container{text-align:center;margin-bottom:20px;}
.logo{height:70px;}
.title{text-align:center;font-size:28px;color:#0a7a24;font-weight:bold;}
form label{font-weight:bold;}
input{width:100%;padding:12px;border-radius:8px;border:1px solid #aaa;margin-top:5px;margin-bottom:15px;}
button{width:100%;padding:12px;background:#0a7a24;color:white;border:none;border-radius:8px;font-size:16px;cursor:pointer;}
.loading{text-align:center;color:green;font-weight:bold;}
.oculto{display:none;}
.carnet{background:white;border:2px solid #0a7a24;padding:20px;border-radius:15px;margin-top:20px;}
.qr{width:150px;height:150px;display:block;margin:auto;}
.activo{color:green;font-weight:bold;}
.vencido{color:red;font-weight:bold;}
.footer{text-align:center;margin-top:20px;padding:20px;color:#777;font-size:14px;}
